/venv/
__pycache__/
/build/
/dist/
node_modules/


# Electron and Node.js build artifacts
ui/node_modules/
ui/build/
ui/dist/
ui/public/backend/

# PyInstaller spec files
*.spec

.env

# other temp app files
caption.yaml.backup
messages_*.txt